.icon {
    width: 3em; height: 3em;
    vertical-align: -0.15em;
    overflow: hidden;
    fill: red;
}

* {padding: 0;margin: 0;box-sizing: border-box}

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-container {
    position: absolute;
    width: 100%;
    transition: left 0.5s ease;
    left: -200%;
}

.img {
    max-height: 100%;
    max-width: 100%;
}
.slide {
    width: 100%;
    position: absolute;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.prev, .next {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}
.prev {
    margin-left: -30%;
}
.next {
    margin-left: 30%;
}
